@import "source-sans-pro-fontfacekit/stylesheet.css";

/* common */
body {
    font-family: "SourceSansProRegular", sans-serif;
    font-size: 18px;
    margin: 0;
}

.content {
    margin: 10px 100px 10px 100px;
    border-style: solid;
    border: #443f29 solid thin;
    height: 660px;
    border-radius: 10px;
    min-width: 500px;
}

.action {
    margin-right: 25px;
}

body > header {
    background-color: #e0d6a7;
    color: #443f29;
    font-weight: bold;
    font-size: 24px;
    padding: 25px 25px 25px 25px;
    text-align: center;
}

body > footer {
    text-align: center;
    padding: 25px 25px 25px 25px;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

button {
    float: right;
}

/* page one */

.treeContainer {
    height: 600px;
    margin: 5px 5px 5px 5px;
    overflow: scroll;
}

.jstree {
    margin: 5px 5px 5px 5px;
}

#currentConfig {
    border: none;
}

#currentConfig button {
    width: 16px;
    margin-left: 5px;
    border: none;
}

/* page two */

.stubHeader {
    margin: 15px auto 15px auto;
    width: 500px;
    font-size: 24px;
}

.stubHeader td:first-child {
    text-align: right;
    vertical-align: text-top;
}

.stubDefinition {
    height: 500px;
    width: inherit;
}

form {
    margin: 5px 5px 5px 5px;
}

#when, #then {
    display: inline-block;
    width: 600px;
    overflow: hidden;
}

.type {
    margin-top: 10px;
    margin-bottom: 20px;
}

.script {
    margin: 10px 5px 0 5px;
}

.name {
    font-weight: bold;
}

.when > *, .then > * {
    margin-left: 10px;
}

tbody td:first-child {
    text-align: right;
    width: 135px;
}

input[type="text"], textarea {
    width: 400px;
}

textarea {
    font-size: 18px;
    height: 150px;
    white-space: pre;
    word-wrap: normal;
    overflow-x: scroll;
    max-width: 550px;
}

.verticalAlignTop {
    vertical-align: text-top;
}

.type {
    margin: 0 0 25px 50px;
}

form button {
    margin-right: 25px;
}

input {
    font-size: 18px;
}