@import "source-sans-pro-fontfacekit/stylesheet.css";

body {
    font-family: "SourceSansProRegular", sans-serif;
    margin: 0;
}

body > header {
    background-color: #e0d6a7;
    color: #443f29;
    font-weight: bold;
    font-size: 24px;
    padding: 25px 25px 25px 25px;
    text-align: center;
}

.content {
    margin: 10px 100px 10px 100px;
    border-style: solid;
    border: #443f29 solid thin;
    height: 500px;
    border-radius: 10px;
}

button {
    border: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    float: left;
}

button.delete {
    background: url(images/delete.png) no-repeat;
}

button.add {
    background: url(images/add.png) no-repeat;
}

button:hover {
    background-position: 0 -32px;
}

.shunt button, .stub button {
    margin-left: 3px;
}

body > footer {
    text-align: center;
    padding: 25px 25px 25px 25px;
}