@import "source-sans-pro-fontfacekit/stylesheet.css";

.hidden {
    display: none;
}

body {
    font-family: "SourceSansProRegular", sans-serif;
    font-size: 18px;
    margin: 0;
}

body > header {
    background-color: #e0d6a7;
    color: #443f29;
    font-weight: bold;
    font-size: 24px;
    padding: 25px 25px 25px 25px;
    text-align: center;
}

.content {
    margin: 10px 100px 10px 100px;
    border-style: solid;
    border: #443f29 solid thin;
    height: 500px;
    border-radius: 10px;
    min-width: 500px;
}

.jstree {
    margin: 5px 0 5px 5px;
}

/*.path button {*/
    /*border: none;*/
    /*float: right;*/
    /*cursor: pointer;*/
    /*margin-left: 5px;*/
    /*height: 16px;*/

    /*background-color: #e0d6a7;*/
    /*color: #443f29;*/
/*}*/

.treeButton {
    width: 16px;
}

.treeButton.delete {
    background: url(images/delete.png) no-repeat;
}

.treeButton:hover {
    background-position: 0 -32px;
}

body > footer {
    text-align: center;
    padding: 25px 25px 25px 25px;
}

.dialog .type {
    margin-top: 10px;
    margin-bottom: 20px;
}

.script {
    margin: 10px 5px 0 5px;
}

label[for="when"], label[for="then"]{
    font-weight: bold;
}

.when > *, .then > * {
    margin-left: 10px;
}

tbody td:first-child {
    text-align: right;
}

input[type="text"], textarea {
    width: 300px;
}

textarea {
    vertical-align: text-top;
    height: 150px;
}

.script textarea {
    margin-left: 5px;
}
